*{
    margin: 0;
    padding: 0;
}
.calculator-border{
    
    width: 250px;
    border: 2px solid black;
    box-shadow: 5px 1px 1px 1px rgb(0, 0, 0);
    padding: 20px;
     /* background-color: rgb(206, 56, 11); */
}
.for-input{
   
    height: 55px;
    
    
}
.button-col{
  height: 50px;
  border-radius: 10px;


  
}
